* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background: radial-gradient(
    circle,
    rgba(132, 243, 254, 1) 0%,
    rgba(197, 254, 157, 0.36738445378151263) 100%
  );
}
h1 {
  margin-top: 0.5em;
  font-weight: 600;
}
.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.input {
  display: flex;
  justify-content: center;
}
.input-field {
  border-radius: 5px;
  border: none;
  background-color: rgba(247, 247, 247, 0.826);
  padding: 0.25em;
  margin-bottom: 4em;
}

.button {
  margin-left: 0.5em;
  margin-bottom: 4em;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(8, 215, 8);
  padding: 0.25em;
  font-weight: 500;
}
.button:hover {
  background-color: rgba(0, 255, 0, 0.848);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.delete-button {
  margin-left: 0.25em;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 0, 51, 0.402);
  padding: 0.2em;
  font-size: medium;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.delete-button:hover {
  background-color: rgba(255, 0, 51, 0.518);
}

.done-button {
  margin-left: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: rgba(38, 255, 0, 0.33);
  padding: 0.2em;
  font-size: medium;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.done-button:hover {
  background-color: rgba(0, 255, 0, 0.588);
}

.item {
  font-size: larger;
  font-weight: 450;
  list-style: none;
}

.item-complete {
  text-decoration: line-through;
  opacity: 50%;
}

.list-items {
  border-radius: 5px;
  background-color: rgba(247, 247, 247, 0.826);
  display: flex;
  justify-content: flex-start;
  width: 17%;
  padding-left: 0.25em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 500px) {
  body {
    background-color: aqua;
  }

  .list-items {
    width: 50%;
  }
}
